<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./navigation') %>
        <div class="home__main">
            <div class="home__main--left">
                <h1>Gym Tú SêLa - Gym của Tú SêLa </h1>
                <p>Phòng gym hiện đại giúp anh chị em thư giãn sau những giờ làm việc căng thẳng,
                    cùng nhiều ưu đãi đáng mong chờ
                </p>
                <a href="/enroll">Tham gia</a>
            </div>
            <div class="home__main--right">
                <img src="https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bWVyfGVufDB8fDB8fHww"
                    alt="">
            </div>
        </div>
        <div class="home__second">
            <div class="home__second--pannel home__second--pannel-1">
                <img src="/img/very.png" alt="">
                <h2>Gói Gold</h2>
                <span>Phòng vip ✔️</span>
                <span>Có coach ✔️</span>
                <span>Đồ uống miễn phí ✔️</span>
                <span>Được cung cấp khăn ✔️</span>
                <span>Tư vấn dinh dưỡng✔️</span>
                <span>Tặng sticker hội viên ✔️</span>
                <span class='home__second--pannel--price'>Giá: 1.000.000đ/tháng</span>
                <a class='home__second--pannel--link' href="/enroll">Tham gia</a>
            </div>
            <div class="home__second--pannel home__second--pannel-1">
                <img src="/img/decent.png" alt="">
                <h2>Gói Silver</h2>
                <span>Phòng vip ✔️</span>
                <span>Đồ uống miễn phí ✔️</span>
                <span>Tư vấn dinh dưỡng✔️</span>
                <span>Tặng sticker hội viên ✔️</span>
                <span class='home__second--pannel--price'>Giá: 700.000đ/tháng</span>
                <a class='home__second--pannel--link' href="/enroll">Tham gia</a>
            </div>
            <div class="home__second--pannel home__second--pannel-1">
                <img src="/img/little.png" alt="">
                <h2>Gói Bronze</h2>
                <span>Được cung cấp khăn ✔️</span>
                <span>Tặng sticker hội viên ✔️</span>
                <span class='home__second--pannel--price'>Giá: 400.000đ/tháng</span>
                <a class='home__second--pannel--link' href="/enroll">Tham gia</a>
            </div>

        </div>
</body>

</html>