<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Employee ID</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="verifyEmployee">

    <form action="/verifyEmployeeId" method="POST">
        <h1>Verify Employee ID</h1>
        <label for="employeeId">Employee ID</label>
        <input type="text" name="employeeId" id="employeeId" required>
        <button type="submit">Verify</button>
    </form>
</body>

</html>